.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollbor_hidden{
    scrollbar-width:none !important;
}

.scrollbor_hidden:hover {
    scrollbar-width:thin !important;
}

.scrollbor_hidden_ {
    scrollbar-width: none !important;
}

/*body.light {
    --bg-color: #ffffff;
    --text-color: #000000;
}

body.dark {
    --bg-color: #000000;
    --text-color: #ffffff!important;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
*/
/* styles.css */

body.light {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-primary: #6200ee;
    --color-code: #444444; /* Gris foncé pour le code en mode clair */
}

body.dark {
    --color-bg: #2a2a2a;
    --color-text: #e0e0e0; /* Gris clair pour le texte principal en dark */
    --color-primary: #bb86fc;
    --color-code: #ffffff !important; /* Blanc pour le code en mode dark */
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

a, span, ul, nav, div, button, svg, style_bg {
    color: var(--color-text);
}

body .style_bg {
    background-color: var(--color-bg);
    color: var(--color-code);
}

/** {
  outline: 1px solid red;
}*/


